
<h1>ALIAS</h1>
<br>
<button class="btn btn-success" type="submit" routerLink="/reports/add-report" routerLinkActive="active">ADD</button>
<button class="btn btn-warning" type="submit" routerLink="/deactivate-report" routerLinkActive="active">DEACTIVATE</button>
<div class="form-group pull-right">
    <input type="text" class="search form-control" [(ngModel)]="reportSearchInput" placeholder="Report Name"> 
    <button type="button" class="btn_search input_button" style="border:none;height:30px" 
    (click)="onClickSearchByReportName(reportSearchInput)">Search</button>
<br>
<div class="form-group pull-right">
  <input type="text" class="search form-control" [(ngModel)]="aliasSearchInput" placeholder="Alias Name"> 
  <button type="button" class="btn_search input_button" style="border:none;height:30px" 
  (click)="onClickSearchByAlias(aliasSearchInput)">Search</button>
</div>
<span class="counter pull-right"></span>
<div class="table-responsive">
<table class='table' *ngIf="aliasSearches.length">
  <thead>
    <tr>
      <th class="col-width">Report Name</th>
      <th class="col-width">Alias Name</th>
    </tr>
    <tr class="warning no-result">
      <td colspan="4"><i class="fa fa-warning"></i> No result</td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor='let aliasSearch of aliasSearches'>
      <td>{{aliasSearch.reportName}}</td>
      <td>{{aliasSearch.aliasName}}</td>
    </tr>
  </tbody>
</table>
</div>
<router-outlet></router-outlet>
