<select id="choice">
    <option value="all">Report Name</option>
    <option value="serviceOne">New Contribution Report for 0297 District</option>

</select>
<select id="choice">
    <option value="all">Copy to</option>
    <option value="serviceOne">New Contribution Report for 0297 District</option>
</select>

<select id="choice">
    <option value="all">Dimension</option>
    <option value="serviceOne">New Contribution Report for 0297 District</option>
</select>
<select id="choice">
    <option value="all">AS400</option>
    <option value="serviceOne">Yes</option>
    <option value="serviceOne">No</option>
</select>

<table id="table">
    <thead>
        <tr>
            <th style="width:2%;">#</th>
            <th class="col-width">Report Name</th>
            <th class="col-width">AS400</th>
            <th class="col-width">Dim Type</th>
            <th class="col-width">Value</th>
        </tr>
    </thead>
    <tbody>
        <tr class="all serviceEleven">
            <td>
                <div class="checkbox">
                    <span class="choice-details">
                        <label class="checkbox-inline">
                            <input type="checkbox" value="" checked>
                        </label>
                    </span>
                </div>
            </td>
            <td>New Contribution Report for 0297 District</td>
            <td>ANY</td>
            <td>Category</td>
            <td>Finance</td>
        </tr>


    </tbody>
</table>