<!-- <select id="choice">
    <option value="all">Report Name</option>
    <option value="serviceOne">New Contribution Report for 0297 District</option>

</select>
<select id="choice">
    <option value="all">Copy to</option>
    <option value="serviceOne">New Contribution Report for 0297 District</option>
</select>

<select id="choice">
    <option value="all">Dimension</option>
    <option value="serviceOne">New Contribution Report for 0297 District</option>
</select>
<select id="choice">
    <option value="all">AS400</option>
    <option value="serviceOne">Yes</option>
    <option value="serviceOne">No</option>
</select> -->

<div class="form-group pull-right">
    <input type="text" class="search form-control" [(ngModel)]="reportSearchInput" placeholder="Report Name"> 
    <button type="button" class="btn_search input_button" style="border:none;height:30px" 
    (click)="onClickSearchByReportName(reportSearchInput)">Search</button>
  </div>
<div class="table-responsive">
<table id="table" *ngIf="reportConfigSearches.length">
    <thead>
        <tr>
            <!-- <th style="width:2%;">#</th> -->
            <th class="col-width">Report Name</th>
            <th class="col-width">AS400</th>
            <th class="col-width">Dim Type</th>
            <th class="col-width">Value</th>
        </tr>
    </thead>
    <tbody>
        <tr class="all serviceEleven" *ngFor="let reportConfigSearch of reportConfigSearches">
            <!-- <td>
                <div class="checkbox">
                    <span class="choice-details">
                        <label class="checkbox-inline">
                            <input type="checkbox" value="" checked>
                        </label>
                    </span>
                </div>
            </td> -->
            <td>{{reportConfigSearch.reportName}}</td>
            <td>{{reportConfigSearch.as400Name}}</td>
            <td>{{reportConfigSearch.dimTypeName}}</td>
            <td>{{reportConfigSearch.dimValue}}</td>
        </tr>


    </tbody>
</table>
</div>
<router-outlet></router-outlet>