body {
  font-family: 'monospace', sans-serif !important;
   
    line-height: 1.8;
    color: #f5f6f7;
  }
  p {font-size: 16px;}
  .margin {margin-bottom: 45px;}
  .bg-1 { 
    background-color: #04168c; 
    color: #ffffff;
  }
  .bg-2 { 
    background-color: #484841; 
    color: #ffffff;
  }
  .bg-3 { 
    background-color: #ffffff; 
    color: #555555;
  }
  .bg-4 { 
    background-color: #8c8b7c; /* Black Gray */
    color: #fff;
  }
  .container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  
  .navbar-nav  li a:hover {
    color: #1512c1 !important;
  }
  