<body>




    <div class="container-fluid bg-1 text-center" class="bg-image" >

        <a class = "navbar-brand" href="/"><img  src="/assets/img/penskepeeps.png" class="image-fluid" ></a>

       

        <div class="centered">

            <h1 class="display-2">Welcome to Penske</h1>

     

         <button class = "text-center" class="btn btn-success" type="submit" routerLink="/reports" routerLinkActive="active">SEARCH REPORTS</button>

    </div>

     

    </div>




    <div class="container-fluid bg-2 text-center">

       

       

       

    </div>



    <div class="container-fluid bg-3 text-center">

        <div class="row">

        </div>

    </div>




</body>